{% extends 'NXCSafeBundle::layout.html.twig' %}



{% block content %}
<h1>Messages</h1>

{{jqgrid(gridView)}}


<br/>
<a href="{{path('multiviewgrid')}}">Multi grid</a>
<br/>
<a href="{{path('gene')}}">Generate dummy data</a>


{% endblock content %}