{% extends "NXCUserBundle::layout.html.twig" %}
{% block title %}NXCUserBundle Demo Application{% endblock %}
{% block content %}
    <h1>Login</h1>
    <p>
        Choose between two default users: <em>user/userpass</em> <small>(ROLE_USER)</small> or <em>admin/adminpass</em> <small>(ROLE_ADMIN)</small>
    </p>
{% include "NXCUserBundle:Security:login_content.html.twig" %}
<br/>
Hello {{ name }}!
<br/><br/>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}

{% endblock %}